.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px; /* Change this value to control the spacing between cards */
    margin: 20px;
    border-color:blue;
  }